Jean-Baptiste <jeanbaptiste.calandreau@gmail.com> CALANDREA Jean-Baptiste <jeanbaptiste.calandreau@gmail.com>
jpdemory <jpdemory@manastria.fr> jpdemory <jpdemory@manastria.fr>
Valentin <valentin.lacour@etud.u-picardie.fr> LACOUR Valentin <valentin.lacour@etud.u-picardie.fr>
Remi <remi80.lemaire@gmail.com> LEMAIRE Remi <remi80.lemaire@gmail.com>
Antoine <antoiner@etud.u-picardie.fr> RICHARD Antoine <antoiner@etud.u-picardie.fr>
Nicolas <nicolas-rocroy@hotmail.com> ROCROY Nicolas <nicolas-rocroy@hotmail.com>
