<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Accueil</li>
            <li class="active">Tableau de Bord</li>
        </ol>
        <h1 class="page-title">Tableau de Bord</h1>
        <div class="row">
            <div class="col-md-12">
                <section class="widget bg-transparent">
                    <!-- .widget-body is a mostly semantic class. may be a sibling to .widget>header or .widget>footer -->
                    <div class="widget-body">
                        <div id="map" class="mapael">
                            <div>
                                <h5 class="text-gray-dark"><span class="fw-semi-bold">NOMBRE DE CONNEXIONS</span></h5>
                                <p class="h3 text-warning no-margin ml-lg"><strong id="geo-locations-number">{nb_connections}</strong> <i class="fa fa-map-marker"></i></p>
                            </div>
                            <div class="map">
                                <span>Alternative content for the map</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                Évolution du nombre <span class="fw-semi-bold">Connexions</span> des <span class="fw-semi-bold">Utilisateurs</span>
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body">
                            <div id="LineStats">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">
                    <section class="widget">
                        <div class="widget-image text-white">
                            <img src="../../../../public/img/bg_weather.jpeg">
                            <h3 class="title">
                                <span class="fw-normal">Amiens</span>, FR
                            </h3>
                            <div class="info text-align-right">
                                <i class="fa fa-map-marker h1 no-margin mr-xs"></i>
                                <h6 class="no-margin mt-xs">Amiens, FR</h6>
                                <p class="fs-sm">9:41 am</p>
                            </div>
                            <div class="forecast">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="row mt-xs">
                                            <div class="col-xs-6 no-padding">
                                                <canvas id="clear-day" width="40" height="40"></canvas>
                                                <p class="no-margin fw-normal mt-n-xs">sunny</p>
                                            </div>
                                            <div class="col-xs-6 no-padding">
                                                <h5 class="fw-semi-bold no-margin">SUNDAY</h5>
                                                <p class="value1 ">29&deg;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 no-padding">
                                        <h6 class="no-margin">DEMAIN</h6>
                                        <canvas class="mt-xs" id="partly-cloudy-day" width="28" height="28"></canvas>
                                        <p class="no-margin fw-semi-bold">32&deg;</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 no-padding">
                                        <h6 class="no-margin">MAR</h6>
                                        <canvas class="mt-xs" id="rain" width="28" height="28"></canvas>
                                        <p class="no-margin fw-semi-bold">25&deg;</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 no-padding">
                                        <h6 class="no-margin">MER</h6>
                                        <canvas class="mt-xs" id="clear-day-3" width="28" height="28"></canvas>
                                        <p class="no-margin fw-semi-bold">28&deg;</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 no-padding">
                                        <h6 class="no-margin">JEU</h6>
                                        <canvas class="mt-xs" id="partly-cloudy-day-3" width="28" height="28"></canvas>
                                        <p class="no-margin fw-semi-bold">17&deg;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                Taux de <span class="fw-semi-bold">Réponses</span>
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body">
                            <div id="DonutStatsAdmin">
                            </div>
                            <p class="fs-mini text-muted">
                                Répartition de taux de réponses des questionnaires
                            </p>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 mt-lg">
                    <div class="col-md-12 mt-md mb-md">
                        <section class="widget">
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="../../../../public/img/login/profile.jpg" alt="...">
                                            </span>
                                            <p class="fs-mini text-muted"><i class="fa fa-clock-o"></i> &nbsp; <time>1 jours</time></p>
                                            <h4 class="fw-normal">De : Adam <span class="fw-semi-bold">Johns</span></h4>
                                            <p>Objet du Message</p>
                                            <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                                                thoughts, ideas.... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-12 mt-md mb-md">
                        <section class="widget">
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="../../../../public/img/login/profile.jpg" alt="...">
                                            </span>
                                            <p class="fs-mini text-muted"><i class="fa fa-clock-o"></i> &nbsp; <time>2 jours</time></p>
                                            <h4 class="fw-normal">De : Adam <span class="fw-semi-bold">Johnson</span></h4>
                                            <p>Objet du Message</p>
                                            <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                                                thoughts, ideas. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
<script>
    var page = 'admin';
</script>