<div class="col-md-6 mt-md mb-md">
    <section class="widget">
        <div class="widget-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="{profile_img}" alt="...">
                                            </span>
                        <p class="fs-mini text-muted"><i class="fa fa-clock-o"></i> &nbsp; <time>{time}</time></p>
                        <h4 class="fw-normal">{message_card/from} : {fname} <span class="fw-semi-bold">{name}</span></h4>
                        <p>{object}</p>
                        <p class="text-light fs-mini m">{content}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>