<div class="col-md-4">
    <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                    </span>
        <h4 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h4>
        <p class="fs-sm text-muted">9:03 am - Publicly near Minsk</p>
        <h4>New <span class="fw-semi-bold">Project</span> Launch</h4>
        <p class="fs-mini">
            Let's try something different this time. Hey, do you wanna join us tonight?
            We're planning to a launch a new project soon. Want to discuss with all of you...
        </p>
        <a href="" class="btn btn-default btn-block attachment" download="JS"><i class="fa fa-download"></i>&nbsp;&nbsp;Télécharger la pièce jointe</a>
        <footer>
            <div class="clearfix">
                <ul class="post-links mt-sm pull-left">
                    <li><a href="#">1 heure</a></li>
                    <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                    <li><a href="#">Comment</a></li>
                </ul>
            </div>
            <ul class="post-comments mt-sm">
                <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                    <div class="comment-body">
                        <input class="form-control input-sm" type="text" placeholder="Commenter...">
                    </div>
                </li>
            </ul>
        </footer>
    </section>
</div>