<div class="col-md-6">
    <section class="widget">
        <div class="widget-body">
            <div class="widget-top-overflow text-white">
                <div class="height-250 overflow-hidden">
                    <img class="img-responsive" src="../../../public/img/login/bg-student.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="{profile_img}" alt="...">
                                            </span>
                        <h4 class="fw-normal">{fname} <span class="fw-semi-bold">{name}&nbsp;</span></h4>
                        <p>{group}</p>
                        <ul class="contacts">
                            <li><i class="fa fa-phone fa-fw mr-xs"></i><a href="#">{phone}&nbsp;</a></li>
                            <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="#">{email}&nbsp;</a></li>
                            <li><i class="fa fa-map-marker fa-fw mr-xs"></i><a href="#">{city}, {country}&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>