<body class="login-page">

<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="text-center">
                <div class="col-sm-12 mb-lg">
                    <img  src="../../../public/img/errors/unhappy.png" alt="..." height="125" width="125">
                </div>
                <div class="col-sm-8 col-sm-offset-2 bg-white img-rounded">
                    <h1><span class="fw-semi-bold">{title}</span></h1>
                    <h3 class="mb-lg"> <span class="fw-semi-bold">{bold}</span><br>{text}</h3>
                    <a href="{site-domain}/index.php{home_page}" class="btn btn-primary btn-lg mb-lg">{button}</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        {site-year} &copy; {site-name} - {site-copyright}
    </footer>
</div>
