<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>{previous}</li>
            <li class="active">{name}</li>
        </ol>
        <h1 class="page-title"><span class="fw-semi-bold">{name}</span></h1>
        <h2>{subtitle}</h2>
        <section class="row">
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/1.jpg" alt="{persons/1/fname} {persons/1/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/1/fname} <span class="fw-semi-bold">{persons/1/name}&nbsp;</span></h4>
                                    <p>{persons/1/description}</p>
                                    <div class="social mb-sm">
                                        <a href="mailto:{persons/1/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/1/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/2.jpg" alt="{persons/2/fname} {persons/2/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/2/fname} <span class="fw-semi-bold">{persons/2/name}&nbsp;</span></h4>
                                    <p>{persons/2/description}</p>
                                    <div class="social mb-sm">
                                        <a href="mailto:{persons/2/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/2/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/3.jpg" alt="{persons/3/fname} {persons/3/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/3/fname} <span class="fw-semi-bold">{persons/3/name}&nbsp;</span></h4>
                                    <p>{persons/3/description}</p>
                                    <div class="social mb-sm">
                                        <a href="callto:{persons/3/phone}" data-toggle="tooltip" data-placement="bottom" title="{persons/3/phone}"><i class="fa fa-phone fa-fw mr-xs"></i></a>&nbsp;|&nbsp;<a href="mailto:{persons/3/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/3/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/in/{persons/3/linkedin}" data-toggle="tooltip" data-placement="bottom" title="{persons/3/linkedin}" target="_blank"><i class="fa fa-linkedin fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/4.jpg" alt="{persons/4/fname} {persons/4/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/4/fname} <span class="fw-semi-bold">{persons/4/name}&nbsp;</span></h4>
                                    <p>{persons/4/description}</p>
                                    <div class="social mb-sm">
                                        <a href="mailto:{persons/4/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/4/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/5.jpg" alt="{persons/5/fname} {persons/5/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/5/fname} <span class="fw-semi-bold">{persons/5/name}&nbsp;</span></h4>
                                    <p>{persons/5/description}</p>
                                    <div class="social mb-sm">
                                        <a href="mailto:{persons/5/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/5/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/in/{persons/5/linkedin}" data-toggle="tooltip" data-placement="bottom" title="{persons/5/linkedin}" target="_blank"><i class="fa fa-linkedin fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4" style="margin-top: 75px;">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-lg">
                                <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="/public/img/team/6.jpg" alt="{persons/6/fname} {persons/6/name}">
                                            </span>
                                    <h4 class="fw-normal">{persons/6/fname} <span class="fw-semi-bold">{persons/6/name}&nbsp;</span></h4>
                                    <p>{persons/6/description}</p>
                                    <div class="social mb-sm">
                                        <a href="mailto:{persons/6/email}" data-toggle="tooltip" data-placement="bottom" title="{persons/6/email}"><i class="fa fa-envelope fa-fw mr-xs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>
    </main>
</div>