<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>{chemin1}</li>
            <li class="active">{name}</li>
        </ol>
        <a href="?nav=survey/create_survey" class="btn btn-default pull-right mt-sm"><i class="fa fa-plus"></i></a>
        <h1 class="page-title"><span class="fw-semi-bold">{name}</span></h1>
        <section class="widget">
            <div class="widget-body">
                <div class="mt">
                    <table id="survey-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{table/titleID}</th>
                            <th>{table/titleSurvey}</th>
                            <th>{table/titleCreationDate}</th>
                            <th>{table/titleModificationDate}</th>
                            <th class="text-center">{table/status}</th>
                            <th class=" no-sort text-center"> {table/titleAction} </th>
                        </tr>
                        </thead>
                        <tbody>
                        {survey_list}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>