<!DOCTYPE html>
<html>
<head>
    <title>Gestion-Stage Login</title>
    <link href="../../../public/css/application.min.css" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="../../../public/css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="../../../public/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body class="login-page">

<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">
                <h4 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    Projet Alpha
                    <i class="fa fa-circle text-warning"></i>
                </h4>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3  align="center">Inscription</h3>


                    </header>
                    <div class="widget-body">

                        <form class="form-horizontal login-form mt-lg">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Nom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Prenom</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Prenom">
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp
                            </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <input  class="form-control"  disabled="disabled" placeholder="zeguigui80@gmail.com">
                                    </div>
                                </div>




                            <div class="form-group has-success has-feedback">
                                <label class="control-label col-sm-3" for="inputSuccess3">Mot de passe</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status" placeholder="Password">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-error has-feedback">
                                <label class="control-label col-sm-3" for="inputError3">Confirmer</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="inputError3" aria-describedby="inputSuccess3Status" placeholder="Password">
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                &nbsp
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Pays</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option>France</option>
                                        <option>Allemagne</option>
                                        <option>Australie</option>
                                        <option>Canada</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ville</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Ville">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Code Postal</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Code Postal">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Adresse</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Adresse">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Complément d'adresse</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Complément d'adresse">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Société</label>
                                <div class="col-sm-6">
                                    <input  class="form-control"  placeholder="Société">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Langue</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option>English</option>
                                        <option>Français</option>
                                        <option>Espanol</option>
                                        <option>Deutch</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                &nbsp
                            </div>


                            <div class="col-md-12 text-center ">
                                <a class="mr-n-lg contratLink" href="#">Conditions générales d'utilisation</a>
                            </div>

                            <div class="col-md-12">
                                &nbsp
                            </div>

                            <div class="col-lg-12">
                                <div class="checkbox widget-login-info  text-center">
                                    <label>
                                        <input type="checkbox" id="checkbox1" value="1" name="conditions"> J'ai lu et j'accepte les conditions générales d'utilisation du site
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                &nbsp
                            </div>

                            <div class="clearfix">
                                <div class="btn-toolbar  text-center">
                                    <a class="btn btn-inverse btn-sm" href="index.html">Valider</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>

    </main>
</div>

<!-- Modal Conditions d'utilisation -->
<div class="modal fade" id="ContratModal" tabindex="-1" role="dialog" aria-labelledby="ContratModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="StudentModalLabel">Conditions générales d'utilisation du site gestion-stage.eu</h4>
            </div>
            <div class="modal-body">
                <h4><span class="fw-semi-bold"> ARTICLE 1 : Objet </span></h4>
                <h5>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site Gestion de stage et leur utilisation par « l'Utilisateur ».
                    <br><br>
                    Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.
                    <br><br>
                    <span class="fw-semi-bold">Éventuellement :</span>
                    <br>
                    <br>
                    <ul>
                        <li>	En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</li>
                        <li>	Gestion de stage se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.</li>
                    </ul>
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 2 : Mentions légales </span></h4>
                <h5> L'édition du site <span class="fw-semi-bold"> Gestion de stage </span> est assurée par l’IUT situé Avenue des Facultés, 80025 Salouël.
                    <br><br>
                    Le directeur de la publication est Valentin LACOUR.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 3 : Définitions </span></h4>
                <h5> La présente clause a pour objet de définir les différents termes essentiels du contrat :
                    <br>
                    <br>
                    <ul>
                        <li> Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.</li>
                        <li> Contenu utilisateur : ce sont les données transmises par l'Utilisateur au sein du site.</li>
                        <li> Membre : l'Utilisateur devient membre lorsqu'il est identifié sur le site.</li>
                        <li> Identifiant et mot de passe : c'est l'ensemble des informations nécessaires à l'identification d'un Utilisateur sur le site. L'identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</li>
                    </ul>
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 4 : accès aux services </span></h4>
                <h5> Le site permet à l'Utilisateur un accès gratuit aux services suivants :
                    <br>
                    <br>
                    <ul>
                        <li> Gestion des stagiaires ;</li>
                        <li> Messagerie entre tuteurs (entreprise et IUT) ;</li>
                        <li> Inclusion de pièces jointes ;</li>
                        <li> Publication de commentaires ;</li>
                        <li> Notation de l’élève stagiaire.</li>
                    </ul>
                    <br>
                    <br>
                    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.<br>
                    <br><br>
                    Selon le cas :
                    <br><br>
                    L’Utilisateur non membre n'a pas accès aux services réservés aux membres. Pour cela, il doit s'identifier à l'aide de son identifiant et de son mot de passe.
                    <br><br>
                    Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.
                    <br><br>
                    Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de <span class="fw-semi-bold">Gestion de stage.</span>
                    <br><br>
                    L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.
                    <br><br>
                    L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse <abbr>contact@gestion-stage.com.</abbr>
                </h5>
                <br><br>


                <h4><span class="fw-semi-bold"> ARTICLE 5 : Propriété intellectuelle </span></h4>
                <h5>
                    Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
                    <br><br>
                    L'Utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.
                    <br><br>
                    L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.
                    <br><br>
                    Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur.
                    <br><br>
                    Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site. L'Utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la modification du contenu Utilisateur.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 6 : Responsabilité et force majeure</span></h4>
                <h5>
                    Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations et contenus du présent site.
                    <br><br>
                    L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.
                    <br><br>
                    L'Utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
                    <br><br>
                    Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.
                    <br><br>
                    Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est pas assurée par le site. Toutefois, le site s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
                    <br><br>
                    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 7 : Liens hypertextes</span></h4>
                <h5>
                    De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n'engagent en rien la responsabilité de <span class="fw-semi-bold"> Gestion de stage </span> qui n'a pas le contrôle de ces liens.
                    <br><br>
                    L'Utilisateur s'interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 8 : Évolution du contrat</span></h4>
                <h5>
                    Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 9 : Durée</span></h4>
                <h5>
                    La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 10 : Droit applicable et juridiction compétente</span></h4>
                <h5>
                    La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, seuls les tribunaux du ressort de la Cour d’Appel d’Amiens sont compétents.
                </h5>
                <br><br>

                <h4><span class="fw-semi-bold"> ARTICLE 11 : Publication par l’Utilisateur</span></h4>
                <h5>
                    Le site permet aux membres de publier des commentaires.
                    <br><br>
                    Dans ses publications, le membre s’engage à respecter les règles de la Netiquette et les règles de droit en vigueur.
                    <br><br>
                    Le site exerce une modération a posteriori sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
                    <br><br>
                    Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
                    <br><br>
                    La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.
                </h5>
                <br><br>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="../../../public/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../../public/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="../../../public/vendor/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../public/vendor/widgster/widgster.js"></script>

<!-- common app js -->
<script src="../../../public/js/settings.js"></script>
<script src="../../../public/js/app.js"></script>

<!-- page specific libs -->

<!-- page specific js -->
<script src="../../../public/js/create_account.js"></script>
</body>
</html>