<main id="content" class="content" role="main">
<ol class="breadcrumb">
    <li>{chemin1}</li>
    <li class="active">{name}</li>
</ol>
<h1 class="page-title">{resutsearch} <span class="fw-semi-bold"> "{search_query}"</span></h1>
<div class="row">
<div class="col-md-12">
    <h3 class="title">{users}</h3>
    <hr>
    <div class="col-md-12">
        {user_result}
    </div>
</div>
<div class="col-md-12">
    <h3 class="title">{students}</h3>
    <hr>
    <div class="col-md-12">
        {student_result}
    </div>
</div>
<div class="col-md-12">
    <h3 class="title">{messages}</h3>
    <hr>
    <div class="col-md-12">
        {message_result}
    </div>
</div>
<div class="col-md-12">
    <h3 class="title">{timeline}</h3>
    <hr>
    <div class="col-md-12">
        {post_result}
    </div>
</div>
</div>
</main>

