<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>{chemin1}</li>
            <li class="active">{name}</li>
        </ol>


            <h1 class="page-title"><span class="fw-semi-bold">{name}</span></h1>


        <section class="row bg-white">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-6 mt-xlg">
                    <h2> Rémi <span class="fw-semi-bold">Lemaire</span></h2>
                </div>
                <div class="col-md-4 mt-lg">
                    <div class="clearfix">
                        <ul id="myTabs" class="nav nav-tabs"> <!-- remove pull-left to get a cool effect too -->
                            <li class="active"><a href="#student" data-toggle="tab">{tab/tabstudent}</a></li>
                            <li class=""><a href="#TI" data-toggle="tab">{tab/tabTI}</a></li>
                        </ul>
                    </div>
                    <div id="TableStudentTI" class="tab-content mb-lg">
                        <div class="tab-pane clearfix active" id="student">
                            <h2>Rémi Lemaire</h2>
                            <p>{tab/phone} <a href="callto:0123456789"> 01 23 45 67 89</a></p>
                            <p>{tab/mail} <a href="mailto:zeguigui80@gmail.com"> zeguigui80@gmail.com</a></p>
                        </div>
                        <div class="tab-pane clearfix" id="TI">
                            <h2>Arnaud Clérentin</h2>
                            <p>{tab/phone} <a href="callto:01 23 45 67 89"> 01 23 45 67 89</a></p>
                            <p>{tab/mail} <a href="mailto:zeguigui80@gmail.com"> zeguigui80@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table unbordered-first-line">
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-8">
                    <col class="col-md-2">
                </colgroup>
                <tbody>
                <tr>
                    <td class="text-center"> <h5> <span class="fw-semi-bold"> {numQuestion} </span></h5></td>
                    <td></td>
                    <td></td>
                </tr>
                {survey_datas}
                <tr>
                    <td></td>
                    <td>
                        <div class="col-md-12 text-center mt-n mb-lg">
                            <a href="?nav=student_list" type="button" class="btn btn-default">{cancel}</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>


<div class="modal fade" id="HelpModal" tabindex="-1" role="dialog" aria-labelledby="HelpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TIModalLabel">Informations</h4>
            </div>
            <div class="modal-body text-center">
                <p> Ici explication des questionnaires -- Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>