<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>{chemin1}</li>
            <li class="active">{name}</li>
        </ol>
        <h1 class="page-title"><span class="fw-semi-bold">{name}</span></h1>
        <section class="widget">
            <header>

            </header>
            <div class="widget-body">

                <div class="mt">
                    <table id="students-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{table/titleID}</th>
                            <th>{table/titleEtud}</th>
                            <th class="no-sort hidden-xs">{table/titleTut}</th>
                            <th class="no-sort text-center">{table/titleStatut}</th>
                            <th class="hidden-xs no-sort">{table/titleDate}</th>
                            <th class="no-sort">{table/titleAction}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>

<!-- Modal Etudiants -->
<div class="modal fade" id="StudentsModal" tabindex="-1" role="dialog" aria-labelledby="StudentsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="StudentModalLabel">{etud/etudiant}</h4>
            </div>
            <div class="modal-body text-center">
                <div class="form-group text-center">
                    <img src="../../../public/img/login/profile.png" alt="profile" class="img-circle" align="center" width="38px" height ="38px">
                </div>

                <address>
                    <strong>Antoine Richard</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>

                <address>
                    12 Rue de la sainte Tetess, Apt 3<br>
                    Amiens, France 80000<br>
                    <abbr title="Phone">P:</abbr> 01 23 45 67 89
                </address>


            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- The Loader. Is shown when pjax happens -->

<!-- Modal TI -->
<div class="modal fade" id="TIModal" tabindex="-1" role="dialog" aria-labelledby="StudentsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TIModalLabel">{tut/tuteur}</h4>
            </div>
            <div class="modal-body text-center">
                <div class="form-group text-center">
                    <img src="../../../public/img/login/profile.png" alt="profile" class="img-circle" align="center" width="38px" height ="38px">
                </div>

                <address>
                    <strong>Jean-Philippe Demory</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>

                <address>
                    12 Rue de la sainte Tetess, Apt 3<br>
                    Amiens, France 80000<br>
                    <abbr title="Phone">P:</abbr> 01 23 45 67 89
                </address>


            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>