<!DOCTYPE html>
<html>
<head>
    <title>Projet Alpha</title>
    <link href="../../../public/css/application.min.css" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="../../../public/css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body>
<!--
  Main sidebar seen on the left. may be static or collapsing depending on selected state.

    * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
    * Static - stays always open.
-->
<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="#">GS</a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                </span>
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                     should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                    1
                </span>
                &nbsp;
                John <strong>Doe</strong>
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <ul class="sidebar-nav">
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    Tableau de bord
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-globe"></i>
                    </span>
                    Fil d'actualité
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    Messages
                    <span class="label label-danger">
                        1
                    </span>
                </a>
            </li>
        </ul>
        <h5 class="sidebar-nav-title">Gestion</h5>
        <ul class="sidebar-nav">
            <li>
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed" href="#user_nav_list" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    Gestion d'accès
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="user_nav_list" class="collapse">
                    <li><a href="#">Utilisateurs</a></li>
                    <li><a href="#">Étudiants</a></li>
                </ul>
            </li>
            <li>
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed" href="#survey_nav_mods" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </span>
                    Questionnaire
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="survey_nav_mods" class="collapse">
                    <li><a href="#">Consultation des questionnaires</a></li>
                    <li><a href="#">Gestion des questions</a></li>
                </ul>
            </li>
        </ul>
        <h5 class="sidebar-nav-title">Stats</h5>
        <!-- A place for sidebar notifications & alerts -->
        <div class="sidebar-alerts">
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Taux de réponse au questionnaire</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-gray-light" style="width: 60%"></div>
                </div>
                <small>60% des utilisateurs ont répondus</small>
            </div>
        </div>
    </div>
</nav>
<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
<nav class="page-controls navbar navbar-default">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" title="Turn on/off sidebar collapsing" data-placement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" title="Show/hide sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-xs"></i>
                    </a>
                </li>
            </ul>
            <!-- xs & sm screen logo -->
            <a class="navbar-brand visible-xs" href="index.html">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                Gestion de Stage
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" type="text" placeholder="Rechercher">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-left">
                            <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                        </span>
                        &nbsp;
                        John <strong>Doe</strong>&nbsp;
                        <span class="circle bg-warning fw-bold">
                            1
                        </span>
                        <b class="caret"></b></a>
                    <!-- ready to use notifications dropdown.  inspired by smartadmin template.
                         consists of three components:
                         notifications, messages, progress. leave or add what's important for you.
                         uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
                    <div class="dropdown-menu animated fadeInUp" id="notifications-dropdown-menu">
                        <section class="panel notifications">
                            <header class="panel-heading">
                                <div class="text-align-center mb-sm">
                                    <strong>Vous avez 1 notification</strong>
                                </div>
                                <div class="btn-group btn-group-sm btn-group-justified" id="notifications-toggle" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <!-- ajax-load plugin in action. setting data-ajax-load & data-ajax-target is the
                                             only requirement for async reloading -->
                                        <input type="radio" checked
                                               data-ajax-trigger="change"
                                               data-ajax-load="demo/ajax/notifications.html"
                                               data-ajax-target="#notifications-list"> Notifications
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio"
                                               data-ajax-trigger="change"
                                               data-ajax-load="demo/ajax/messages.html"
                                               data-ajax-target="#notifications-list"> Messages
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio"
                                               data-ajax-trigger="change"
                                               data-ajax-load="demo/ajax/progress.html"
                                               data-ajax-target="#progress-list"> Progress
                                    </label>
                                </div>
                            </header>
                            <!-- notification list with .thin-scroll which styles scrollbar for webkit -->
                            <div id="notifications-list" class="list-group thin-scroll">
                                <a class="list-group-item" href="#">
                                    <span class="thumb-sm pull-left mr">
                                        <i class="glyphicon glyphicon-globe fa-lg"></i>
                                    </span>
                                    <p class="text-ellipsis no-margin">
                                        Emi Doe à répondu à un questionnaire </p>
                                    <time class="help-block no-margin">
                                        il y a 6h.
                                    </time>
                                </a>
                            </div>
                            <footer class="panel-footer text-sm">
                                <!-- ajax-load button. loads demo/ajax/notifications.php to #notifications-list
                                     when clicked -->
                                <button class="btn btn-xs btn-link pull-right"
                                        id="load-notifications-btn"
                                        data-ajax-load="demo/ajax/notifications.php"
                                        data-ajax-target="#notifications-list"
                                        data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <span class="fs-mini">Mise à jour le : 16 octobre 2016 12:22</span>
                            </footer>
                        </section>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; Mon Compte</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Boite de réception &nbsp;&nbsp;<span class="badge bg-danger animated bounceIn">1</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> &nbsp; Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Accueil</li>
            <li class="active">Fils d'actualité</li>
        </ol>
        <h1 class="page-title">Fils d'actualité</span></h1>
        <div class="row">
            <div class="col-xs-12" id="publication_part">
                <section class="widget text-center">
                    <form>
                        <h3 class="text-center">Exprimez-vous !</h3>
                        <!--<textarea rows="4" class="form-control" id="wysiwyg" placeholder="Exprimez-vous"></textarea>-->
                        <div class="fileinput fileinput-new input-group col-md-6 col-md-offset-3 col-xs-12" id="post_file_input" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                                            <span class="input-group-addon btn btn-default btn-file">
                                                <span class="fileinput-new">Integrer un fichier</span>
                                                <span class="fileinput-exists">Changer</span>
                                                <input type="hidden"><input id="fileupload1" type="file">
                                            </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Supprimer</a>
                        </div>
                        <div class="tinymce fa-border bg-body-light row">
                        </div>
                        <div class="btn-toolbar">
                            <span class="thumb-sm avatar pull-left">
                                <img class="img-circle" src="../../../public/img/login/profile.png" alt="..." data-toggle="tooltip" data-placement="bottom" title="John Doe">
                            </span>
                            <span class="pull-left mt-n-0 circle circle-lg bg-success fw-bold text-white" style="display: none; margin-left: .5em; cursor: pointer" id="add_file_to_post"  data-id="1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Integrer un fichier">
                                    +
                            </span>
                            <button type="reset" class="btn btn-sm pull-right">Annuler</button>
                            <button type="submit" class="btn btn-sm btn-primary pull-right">Publier</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-xs-12" id="timeline_part">
                <ul class="timeline">
                    <li>
                        <time class="event-time" datetime="2014-05-19 03:04">
                            <span class="date">aujourd'hui</span>
                            <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
                        </time>
                <span class="event-icon">
                    <i class="glyphicon glyphicon-globe"></i>
                </span>
                        <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                    </span>
                            <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
                            <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
                            <p class="fs-mini">
                                There is no such thing as maturity. There is instead an ever-evolving process of maturing.
                                Because when there is a maturity, there is ...
                            </p>
                            <footer>
                                <div class="clearfix">
                                    <ul class="post-links mt-sm pull-left">
                                        <li><a href="#">1 heure</a></li>
                                        <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                                        <li><a href="#">Comment</a></li>
                                    </ul>
                                </div>
                                <ul class="post-comments mt-sm">
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <input class="form-control input-sm" type="text" placeholder="Commenter...">
                                        </div>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                    </li>
                    <li class="on-left">
                        <time class="event-time" datetime="2014-05-19 03:04">
                            <span class="date">hier</span>
                            <span class="time">9:03 <span class="fw-semi-bold">am</span></span>
                        </time>
                <span class="event-icon">
                    <i class="glyphicon glyphicon-globe"></i>
                </span>
                        <section class="event">
                            <h4 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h4>
                            <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
                            <p class="fs-mini">
                                Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside
                                my brand new HDD 40TB. Thanks god I found it!
                            </p>
                            <div class="event-image">
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png">
                                </a>
                            </div>
                            <footer>
                                <div class="clearfix">
                                    <ul class="post-links mt-sm pull-left">
                                        <li><a href="#">1 heure</a></li>
                                        <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                                        <li><a href="#">Comment</a></li>
                                    </ul>

                                <span class="pull-right mt-xs circle circle-lg bg-danger fw-bold text-white like_list" id="ddd" style="cursor: pointer;" data-id="1" data-toggle="tooltip" data-placement="bottom" title="Plus de 10 personnes aiment ça">
                                    10+
                                </span>
                                </div>
                                <ul class="post-comments mt-sm">
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                                            <p>Hey, have you heard anything about that?</p>
                                        </div>
                                    </li>
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <input class="form-control input-sm" type="text" placeholder="Commenter...">
                                        </div>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                    </li>
                    <li>
                        <time class="event-time" datetime="2014-05-19 03:04">
                            <span class="date">hier</span>
                            <span class="time">9:03 <span class="fw-semi-bold">am</span></span>
                        </time>
                <span class="event-icon">
                    <i class="glyphicon glyphicon-globe"></i>
                </span>
                        <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                    </span>
                            <h4 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h4>
                            <p class="fs-sm text-muted">9:03 am - Publicly near Minsk</p>
                            <h4>New <span class="fw-semi-bold">Project</span> Launch</h4>
                            <p class="fs-mini">
                                Let's try something different this time. Hey, do you wanna join us tonight?
                                We're planning to a launch a new project soon. Want to discuss with all of you...
                            </p>
                            <a href="" class="btn btn-default btn-block attachment" download="JS"><i class="fa fa-download"></i>&nbsp;&nbsp;Télécharger la pièce jointe</a>
                            <footer>
                                <div class="clearfix">
                                    <ul class="post-links mt-sm pull-left">
                                        <li><a href="#">1 heure</a></li>
                                        <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                                        <li><a href="#">Comment</a></li>
                                    </ul>
                                </div>
                                <ul class="post-comments mt-sm">
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <input class="form-control input-sm" type="text" placeholder="Commenter...">
                                        </div>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                    </li>
                    <li class="on-left">
                        <time class="event-time" datetime="2014-05-19 03:04">
                            <span class="date">hier</span>
                            <span class="time">9:03 <span class="fw-semi-bold">am</span></span>
                        </time>
                <span class="event-icon">
                    <i class="glyphicon glyphicon-globe"></i>
                </span>
                        <section class="event">
                            <h4 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h4>
                            <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
                            <p class="fs-mini">
                                Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside
                                my brand new HDD 40TB. Thanks god I found it!<br>&nbsp;
                                <a href="" class="btn btn-default btn-block attachment" download="JS"><i class="fa fa-download"></i>&nbsp;&nbsp;Télécharger la pièce jointe</a>
                            </p>
                            <div class="event-image">
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png" class="col-md-6 no-padding">
                                </a>
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png" class="col-md-6 no-padding">
                                </a>
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png" class="col-md-4 no-padding">
                                </a>
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png" class="col-md-4 no-padding">
                                </a>
                                <a href="../../../public/img/login/profile.png">
                                    <img src="../../../public/img/login/profile.png" class="col-md-4 no-padding">
                                </a>
                            </div>
                            <footer>
                                <div class="clearfix">
                                    <ul class="post-links mt-sm pull-left">
                                        <li><a href="#">1 heure</a></li>
                                        <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                                        <li><a href="#">Comment</a></li>
                                    </ul>

                                <span class="pull-right mt-xs circle circle-lg bg-danger fw-bold text-white like_list" style="cursor: pointer;" data-id="2" data-toggle="tooltip" data-placement="bottom" title="Plus de 10 personnes aiment ça">
                                    10+
                                </span>
                                </div>
                                <ul class="post-comments mt-sm">
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                                            <p>Hey, have you heard anything about that?</p>
                                        </div>
                                    </li>
                                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                                </span>
                                        <div class="comment-body">
                                            <input class="form-control input-sm" type="text" placeholder="Commenter...">
                                        </div>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>


<div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aide</h4>
            </div>
            <div class="modal-body">
                <p>Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.
                    <br>
                    At nunc si ad aliquem bene nummatum tumentemque ideo honestus advena salutatum introieris, primitus tamquam exoptatus suscipieris et interrogatus multa coactusque mentiri, miraberis numquam antea visus summatem virum tenuem te sic enixius observantem, ut paeniteat ob haec bona tamquam praecipua non vidisse ante decennium Romam.
                </p>
                <h3>Ideoque fertur neminem</h3>
                <p>Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.</p>
                <p>Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.</p>
            </div>
            <div class="modal-footer">
                <span class="pull-right">Réalisé par John Doe</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="like_list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Qui a aimer ? (2)</h4>
            </div>
            <div class="modal-body">
                <div class="panel" href="#">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                    </span>
                    <p class="text-ellipsis no-margin">
                        John Doe </p>
                    <time class="help-block no-margin">
                        il y a 6h.
                    </time>
                </div>
                <div class="panel" href="#">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="../../../public/img/login/profile.png" alt="...">
                    </span>
                    <p class="text-ellipsis no-margin">
                        John Doe </p>
                    <time class="help-block no-margin">
                        il y a 6h.
                    </time>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- common libraries. required for every page-->
<script src="../../../public/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../../public/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../../public/vendor/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../public/vendor/widgster/widgster.js"></script>
<script src="../../../public/vendor/pace.js/pace.min.js"></script>
<script src="../../../public/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>

<!-- common app js -->
<script src="../../../public/js/settings.js"></script>
<script src="../../../public/js/app.js"></script>

<!-- page specific libs -->
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../../public/vendor/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="../../../public/vendor/bootstrap3-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
<script src="../../../public/vendor/bootstrap3-wysihtml5/src/bootstrap3-wysihtml5.js"></script>
<script src="../../../public/vendor/underscore/underscore-min.js"></script>
<script src="../../../public/vendor/backbone/backbone.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="../../../public/vendor/jasny-bootstrap/js/fileinput.js"></script>
<!-- page specific js -->
<script src="../../../public/js/timeline.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>