<form action='' method="POST">
    <fieldset>
        <div class="form-group col-md-6">
            <!-- Nom -->
            <label for="add_student_name">{name-lbl}</label>
            <input type="text" id="add_student_name" name="add_student_name" placeholder="{name-lbl}" class="form-control text-center" required="required">
        </div>
        <div class="form-group col-md-6">
            <!-- Prénom -->
            <label for="add_student_fname">{fname-lbl}</label>
            <input type="text" id="add_student_fname" name="add_student_fname" placeholder="{fname-lbl}" class="form-control text-center" required="required">
        </div>
        <div class="form-group">
            <!-- Email -->
            <label for="add_student_email">{email-lbl}</label>
            <input type="text" id="add_student_email" name="add_student_email" placeholder="{email-lbl}" class="form-control text-center">
        </div>
        <div class="form-group">
            <!-- TE -->
            <label for="add_student_te">{te-lbl}</label>
            <select id="add_student_te" data-placeholder="{te-lbl}" class="select2 form-control" tabindex="-1" name="add_student_te" required="required">
                {te_list}
            </select>
        </div>
        <div class="form-group">
            <!-- TI -->
            <label for="add_student_ti">{ti-lbl}</label>
            <select id="add_student_ti" data-placeholder="{ti-lbl}" class="select2 form-control" tabindex="-1" name="add_student_ti" required="required">
                {ti_list}
            </select>
        </div>
        <div class="form-group col-md-6">
            <!-- Groupe -->
            <label for="add_student_group">{group-lbl}</label>
            <input type="text" id="add_student_group" name="add_student_group" placeholder="{group-lbl}" class="form-control text-center">
        </div>
        <div class="form-group col-md-6">
            <!-- Date de Naissance -->
            <label for="add_student_birthdate">{birth-date-lbl}</label>
            <input type="text" id="add_student_birthdate" name="add_student_birthdate" placeholder="{birth-date-lbl}" class="form-control text-center">
        </div>
        <div class="form-group">
            <!-- Téléphone -->
            <label for="add_student_phone">{phone-lbl}</label>
            <input type="tel" id="add_student_phone" name="add_student_phone" placeholder="{phone-lbl}" class="form-control text-center">
        </div>
        <div class="form-group">
            <!-- Adresse -->
            <label for="add_student_addresse">{address-lbl}</label>
            <input type="tel" id="add_student_addresse" name="add_student_address" placeholder="{address-lbl}" class="form-control text-center">
        </div>
        <div class="form-group col-md-4">
            <!-- Code Postal -->
            <label for="add_student_zip_code">{zip-code-lbl}</label>
            <input type="tel" id="add_student_zip_code" name="add_student_zip_code" placeholder="{zip-code-lbl}" class="form-control text-center">
        </div>
        <div class="form-group col-md-8">
            <!-- Ville -->
            <label for="add_student_city">{city-lbl}</label>
            <input type="tel" id="add_student_city" name="add_student_city" placeholder="{city-lbl}" class="form-control text-center">
        </div>
        <div class="form-group">
            <!-- Pays -->
            <label for="add_student_country">{country-lbl}</label>
            <select id="add_student_country" data-placeholder="Pays" class="select2 form-control" tabindex="-1" name="add_student_country">
                {country_list}
            </select>
        </div>
        <div class="form-group col-md-12">
            <!-- Informations -->
            <label for="add_student_deathdate">{informations-lbl}</label>
            <textarea class="form-control text-center" id="add_student_informations" name="add_student_informations" ></textarea>
        </div>
        <div class="form-group col-md-12">
            <!-- Date Butoire -->
            <label for="add_student_deathdate">{deadline-lbl}</label>
            <input type="text" id="add_student_deathdate" name="add_student_deathdate" placeholder="{deathdate}" value="{deathdate}" class="form-control text-center" required="required">
        </div>
    </fieldset>
    <span class="help-block text-left">* {help}</span>
</form>