<tr data-id="{ID_answer}" class="answer">
    <td class="col-md-1"><h5><span class="fw-semi-bold">{ID_answer}- </span> </h5> </td>
    <td class="col-md-8">
        <input type="text" name="response-{ID}-{ID_answer}" value="{response_content}" class="form-control response" placeholder="{response}">
    </td>
    <td class="2">
        <input type="number" min="0" name="value-{ID}-{ID_answer}" value="{value_content}" class="form-control value" placeholder="{value}">
    </td>
    <td class="col-md-1">
        <button type="button" class="rmvAnswer btn btn-link"> <i class="fa fa-times"></i></button>
    </td>
</tr>