<tr>
    <td>{ID}</td>
    <td><span class="fw-semi-bold">{name}</span></td>
    <td>{CreationDate}</td>
    <td>{ModificationDate}</td>
    <td class="text-center status">{status}</td>
    <td class="text-center"><a href="?nav=survey/survey_show&id={ID_crypt}" data-toggle="tooltip" data-placement="bottom" title="{view}"><i class="fa fa-book" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="?nav=survey/create_survey&id={ID_crypt}" data-toggle="tooltip" data-placement="bottom" title="{edit}"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="bottom" class="activate" {hidden-option} data-id="{ID_crypt}" title="{activate}"><i class="fa fa-check" aria-hidden="true"></i></a></td>
</tr>