<div class="widget-body">
    <div class="widget-top-overflow text-white">
        <div class="height-250 overflow-hidden">
            <img class="img-responsive" src="../../../public/img/login/bg-user.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="post-user post-user-profile">
                                            <span class="thumb-xlg">
                                                <img class="img-circle" src="{profile-img}" alt="...">
                                            </span>
                <h4 class="fw-normal">{user-fname} <span class="fw-semi-bold">{user-name}</span></h4>
                <p>{user-status}</p>
                <ul class="contacts">
                    <li><i class="fa fa-phone fa-fw mr-xs"></i><a href="mailto:{user-phone}">{user-phone}</a></li>
                    <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="mailto:{user-email}">{user-email}</a></li>
                    <li><i class="fa fa-map-marker fa-fw mr-xs"></i><a href="#">{user-city},{user-country}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>